#downloadVideo {
  padding: 7px;
  border-radius: 2px;
  border: 0;
  transition: 0.2s ease-out;
  color: #fff;
  background: #db0000;
  margin: 6px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-color: #b32924;
  cursor: pointer;
}
#downloadVideo:hover {
  color: #fff;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: #d9534f;
}

#downloadVideo:active,
#downloadVideo:focus,
#downloadVideo.active {
  outline: 0;
  color: #fff;
  background-color: #d9534f;
}

#videoDownloadDropdown {
  position: absolute;
  border: 1px solid #ddd;
  width: 150px;
  background: #fff;
  z-index: 9999;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  right: 0;
  margin-right: calc(100% - 900px);
  margin-top: 63px;
  display: none;
}

#videoDownloadDropdown.show {
  display: block;
}

#videoDownloadDropdown a {
  display: block;
  padding: 10px;
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

#videoDownloadDropdown a:hover {
  background: #eee;
  color: #222;
}
